# Ignore the actual heavy media files (Stored only on Friend's Laptop)
assets/
*.mp4
*.mp3
*.png
*.jpg

# Ignore the local database (so you don't overwrite each other's history)
*.db

# Ignore Python environment and cache
__pycache__/
.venv/
.env

